*.ff
*.iwd*
*.files
*.tmp
console.log
missingasset.csv
TODO.md

hotfix_files/*
raw/*
zzz*
log.txt
logs.txt
out.txt
goals.txt
*.sh
stash/*

sound/wpn/assault
sound/wpn/bowie
sound/wpn/cannon
sound/wpn/crossbow
sound/wpn/energy
sound/wpn/flame
sound/wpn/grenade
sound/wpn/gren_launcher
sound/wpn/hatchet
sound/wpn/hazmat
sound/wpn/hmg
sound/wpn/lmg
sound/wpn/meat
sound/wpn/melee
sound/wpn/monkey
sound/wpn/mortarteam
sound/wpn/ray_gun
sound/wpn/rocket
sound/wpn/rope_gun
sound/wpn/scope
sound/wpn/shell
sound/wpn/shotgun
sound/wpn/slingshot
sound/wpn/smg
sound/wpn/sniper
sound/wpn/turret
sound/wpn/uw_shots
.aider*
.env
